# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import sys
import json
import time

module_path = os.path.abspath(os.path.join('..'))
#Include api directory in path
if module_path not in sys.path:
    sys.path.append(module_path + "\\api")

# Import API key
from api_keys import g_key

output_data_file = "../output_data/"

places_base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [38]:
print(output_data_file + "cities.csv")
df = pd.read_csv(output_data_file + "cities.csv")
df.head()

#Convert Object Types to String
df["City"] = df["City"].astype("string") 
df["Country"] = df["Country"].astype("string")

#Drop index column saved to csv
df = df.iloc[:,1:]
df.head()

../output_data/cities.csv

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ushuaia,-54.8000,-68.3000,46.40,93,90,26.46,AR,1612330027
1,provideniya,64.3833,-173.3000,4.59,91,100,16.11,RU,1612330219
2,torbay,47.6666,-52.7314,30.00,86,90,23.02,CA,1612330247
3,otane,-39.8833,176.6333,73.99,52,0,5.99,NZ,1612330459
4,thompson,55.7435,-97.8558,15.80,92,90,6.91,CA,1612330237

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [45]:


locations = df[["Lat","Lng"]].astype(float)
humidity = df[["Humidity"]].astype(float)

max_humidity = df[["Humidity"]].max()

In [47]:


gmaps.configure(api_key="AIzaSyCwvIRyo603XKE7JlcV9YkMIkxcKgZT35Q")
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity["Humidity"], 
                                 dissipating=False, max_intensity=float(max_humidity),
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [51]:
#Setup Ideal Weather Conditions Parameters
min_temp = 70
max_temp = 82
min_windspeed = 0
max_windspeed = 15
min_cloudiness = 0
max_cloudiness = 20
max_humidity = 80

hotel_df = df[df["Max Temp"].between(min_temp,max_temp) & df["Wind Speed"].between(min_windspeed,max_windspeed) &
           df["Cloudiness"].between(min_cloudiness,max_cloudiness)]

hotel_df.insert(1,"Hotel Name"," ")

hotel_df.head()

,City,Hotel Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,otane,,-39.8833,176.6333,73.99,52,0,5.99,NZ,1612330459
7,port alfred,,-33.5906,26.8910,77.00,73,6,8.72,ZA,1612330229
10,busselton,,-33.6500,115.3333,79.00,67,0,7.00,AU,1612330027
38,salalah,,17.0151,54.0924,75.20,41,0,3.44,OM,1612330075
63,kapaa,,22.0752,-159.3190,73.40,73,20,14.97,US,1612330211

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [52]:


for index, row in hotel_df.iterrows():
    location = str(row["Lat"]) + "," + str(row["Lng"])
    params = {"location": location,
              "radius":5000,
              "type":"lodging",
              "language":"en",
              "key": g_key}
    response = requests.get(places_base_url,params=params).json()
    #print(response["results"][0]["name"])
    time.sleep(1)
    try:
        hotel_df.loc[index,"Hotel Name"] = response["results"][0]["name"]
    except:
        print(f'{row["City"]} (row["Country"]) - No Hotel Found' )

D:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

kouango (row["Country"]) - No Hotel Found
umm kaddadah (row["Country"]) - No Hotel Found

In [53]:
# Remove empty hotel names

hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == " "].index, inplace=True)

hotel_df

D:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,City,Hotel Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,otane,Ludlow Farmstay,-39.8833,176.6333,73.99,52,0,5.99,NZ,1612330459
7,port alfred,The Halyards Hotel,-33.5906,26.8910,77.00,73,6,8.72,ZA,1612330229
10,busselton,Observatory Guest House,-33.6500,115.3333,79.00,67,0,7.00,AU,1612330027
38,salalah,HAMDAN PLAZA HOTEL SALALAH,17.0151,54.0924,75.20,41,0,3.44,OM,1612330075
63,kapaa,Sheraton Kauai Resort at Coconut Beach,22.0752,-159.3190,73.40,73,20,14.97,US,1612330211
71,port elizabeth,39 On Nile Guest House,-33.9180,25.5701,73.40,64,0,2.30,ZA,1612330227
83,barcelona,Complejo Turístico Gran Barcelona,10.1333,-64.7000,73.63,83,1,3.65,VE,1612330480
86,pisco,Hotel San Isidro Oficial,-13.7000,-76.2167,71.60,73,0,8.05,PE,1612330246
87,touros,INN NEW HORIZON,-5.1989,-35.4608,75.20,88,20,3.44,BR,1612330054
110,avarua,Paradise Inn,-21.2078,-159.7750,80.60,78,1,11.50,CK,1612330023
130,east london,Tu Casa,-33.0153,27.9116,75.20,73,0,4.61,ZA,1612330210
131,gaozhou,望江楼旅业,21.9392,110.8461,79.95,40,4,8.57,CN,1612330492
140,tecoanapa,Hotel Manglares,16.5167,-98.7500,73.27,88,0,4.68,MX,1612330494
142,the valley,CeBlue Villas & Beach Resort,18.2170,-63.0578,78.80,73,20,10.36,AI,1612330281
147,okato,Goodin Country Garden,-39.2000,173.8833,73.99,60,0,8.01,NZ,1612330496
153,ormara,Crystal Beach and Camping Resort Ormara,25.2088,64.6357,76.12,35,0,6.51,PK,1612330396
179,takaka,Golden Bay Motels,-40.8500,172.8000,70.00,76,9,5.99,NZ,1612330506
181,hilo,Hilo Hawaiian Hotel,19.7297,-155.0900,73.40,73,1,4.61,US,1612329982
202,santa marta,Hotel La Ballena Azul,11.2408,-74.1990,81.00,75,19,5.99,CO,1612330512
205,santa cruz,Hotel Diria,10.2605,-85.5851,75.20,64,0,10.36,CR,1612330513
206,kruisfontein,Oyster Bay House Rental,-34.0033,24.7314,70.00,80,0,1.01,ZA,1612330216
212,boa vista,Aipana Plaza Hotel,2.8197,-60.6733,78.80,73,0,9.22,BR,1612330514
234,moerai,Le Manotel,-22.4333,-151.3333,81.90,63,17,4.88,PF,1612330520
240,hanmer springs,The Chalets Motel,-42.5167,172.8167,70.90,50,2,5.32,NZ,1612330521
244,kahului,Maui Seaside Hotel,20.8947,-156.4700,73.40,68,20,5.75,US,1612330296
281,kailua,Sheffield House Bed & Breakfast,21.4022,-157.7394,75.20,73,1,4.61,US,1612330532
283,pochutla,Hotel Posada San Jose,15.7432,-96.4661,75.00,85,0,1.99,MX,1612330251
292,black river,Idlers' Rest Beach Hotel,18.0264,-77.8487,73.99,60,20,10.36,JM,1612330535
294,ilesha,Tosap Guest House,7.1371,5.2583,71.76,99,14,2.19,NG,1612330535
324,maraba,Hotel Del Principe,-5.3686,-49.1178,77.00,100,0,1.74,BR,1612330545
330,mirador,Pousada Casa Nova,-6.3708,-44.3631,71.56,90,0,1.28,BR,1612330546
344,manaus,Hotel do Largo,-3.1019,-60.0250,75.20,94,20,2.30,BR,1612330551
371,coahuayana,Hotel Los Arcos,18.7333,-103.6833,70.18,73,13,2.13,MX,1612330281
378,vartej,RK Resort,21.7333,72.0667,81.59,21,0,10.20,IN,1612330561
394,tam ky,Nhà Nghỉ Phương Hòa,15.5667,108.4833,78.80,61,20,10.36,VN,1612330565
397,rawson,Hosteria Sampedro,-43.3002,-65.1023,72.16,35,0,13.76,AR,1612330566
402,nelson bay,Mantra Nelson Bay,-32.7167,152.1500,75.00,56,20,11.50,AU,1612330432
406,fare,Maitai Lapita Village Huahine,-16.7000,-151.0167,81.63,75,0,13.67,PF,1612330568
432,along,Hotel West,28.1667,94.7667,77.49,27,0,1.79,IN,1612330575
433,paita,Hotel Náutico de Paita,-5.0892,-81.1144,73.22,75,8,10.69,PE,1612330272

In [55]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [56]:
# Add marker layer ontop of heat map
hotel_layer =  gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))